---
import FormattedDate from '../FormattedDate.astro';
import Image from 'astro/components/Image.astro';

const { slug, heroImage, title, pubDate } = Astro.props
---

<a href={`/blog/${slug}/`}>
  <div class="img-content h-[220px] w-[100%] bg-cover bg-center ">
    <Image src={heroImage} width={1280} alt={title} height={720} class="w-full h-full object-cover"  loading="lazy" />
  </div>
  <h4 class=" text-slate-800 dark:text-slate-50 hover:text-primary-500">{title}</h4>
  <p class="text-slate-800 dark:text-slate-50">
    <FormattedDate date={pubDate} />
  </p>
</a>

<style>
	
  a {
    text-decoration: none;
  }

</style>
