---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Pagination from '../../components/Pagination.astro'
import { sortByDate } from '../../lib/utils/sortFunctions'


export const prerender = true;

export async function getStaticPaths({ paginate }) {
  const posts = (await getCollection('blog'))
	const sortedPosts = sortByDate(posts);

  return paginate(sortedPosts, { pageSize: 5 });
}

const { page } = Astro.props;
const { data = [] } = page

---

<Layout title={`Blogs | Mundo ingenieria | página: ${page.currentPage}`} description="Descubre el universo del mundo de la ingeniería: análisis, tendencias, y consejos de mantenimiento.">
	<main>
		<section >
			<ul>
				{
					data.map((post) => (
						<li >
							<a href={`/blog/${post.slug}/`}>
								<div  class="img-content h-[220px] w-[100%] bg-cover bg-center " style={`
										background-image: url(${post.data?.heroImage});
								`}>
								</div>
								<h4 class="text-slate-800 dark:text-slate-50 hover:text-primary-500">{post.data?.title}</h4>
								<p class="text-slate-800  dark:text-slate-50">
									<FormattedDate date={post.data?.pubDate} />
								</p>
							</a>
						</li>
					))
				}
			</ul>
		</section>
    <Pagination section="blog" currentPage={page.currentPage} totalPages={page.lastPage} />
	</main>
</Layout>

<style>
	main {
		width: 960px;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	ul li {
		width: calc(50% - 1rem);
	}
	ul li * {
		/* text-decoration: none; */
		transition: 0.2s ease;
	}
	ul li:first-child {
		width: 100%;
		margin-bottom: 1rem;
		text-align: center;
	}
	/* ul li:first-child img {
		width: 100%;
		height: 440px;
	} */
	ul li:first-child .img-content {
		width: 100%;
		height: 440px;
	}
	ul li:first-child .title {
		font-size: 2.369rem;
	}
	/* ul li img {
		margin-bottom: 0.5rem;
		border-radius: 12px;
	} */
	ul li .img-content {
		margin-bottom: 0.5rem;
		border-radius: 12px;
	}
	ul li a {
		display: block;
	}

	/* ul a:hover img {
		box-shadow: var(--box-shadow);
	} */

	ul a:hover  .img-content  {
		box-shadow: var(--box-shadow);
	}
	@media (max-width: 720px) {
		ul {
			gap: 0.5em;
		}
		ul li {
			width: 100%;
			text-align: center;
		}
		ul li:first-child {
			margin-bottom: 0;
		}
		ul li:first-child .title {
			font-size: 1.563em;
		}
	}
</style>