---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import BlogCategory from '../../components/categories/BlogCategory.astro'

const categories = await getCollection('categories');

const pageTitle = "Categorías";

const posts = (await getCollection('blog')).sort((a , b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()).reduce((acc, obj) => {
    let posts = acc.get(obj.data.category)
    if (!posts) {
        posts = []
    }
    posts.push(obj)

    acc.set(obj.data.category, posts)

    return acc
}, new Map())


---
<Layout title={pageTitle} description="Mundo Ingeniería abarca categorías como construcción, electrónica, mecánica y robótica, enfocándose en la innovación y aplicación práctica de principios científicos y tecnológicos">
  <section class="  lg:w-[1400px] mx-auto px-4 py-10 sm:px-6 lg:px-8 lg:pt-10 lg:py-14 2xl:max-w-full">
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 items-center gap-6 md:gap-10">
          {
              categories.map(c => (
                  <BlogCategory
                      image={c.data.image}
                      slug={c.slug}
                      title={c.data.title}
                      description={c.data.description}
                      count={posts.get(c.slug)?.length ?? 0}
                      publishDate={posts.get(c.slug)?.[0]?.data?.pubDate}
                  />
              ))
          }
      </div>
  </section>
</Layout>