---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import { sortByDate } from '../../lib/utils/sortFunctions'
import Pagination from '../../components/Pagination.astro'
import Image from 'astro/components/Image.astro';

const news = (await getCollection('news')) || [];
const sortedPosts = sortByDate(news);
const fivePost = sortedPosts.slice(0, 9)

const totalPosts = news.length || 0
const totalPage = Math.ceil(totalPosts / 9)
---
<Layout title={'Noticias'} description="Mundo Ingeniería - Descubre las últimas innovaciones, tendencias y avances en el campo de la ingeniería a nivel global.">
	<main>
		<section >
			<ul>
				{
					fivePost.map((post) => (
						<li>
							<a href={`/news/${post.slug}`}>
								<div class="img-content h-[220px] w-[100%] bg-cover bg-center ">
									<Image src={post.data.heroImage} width={1280} alt={`${post.data.title} | Mundo Ingeniería`} height={720} class="w-full h-full object-cover	"  loading="lazy" />
								</div>
								<h4 class="text-2xl text-slate-800 dark:text-slate-50 hover:text-primary-500">{post.data.title}</h4>
								<p class="text-slate-800 dark:text-slate-50">
									<FormattedDate date={post.data.pubDate} />
								</p>
							</a>
						</li>
					))
				}
			</ul>
		</section>
		<Pagination section="news" currentPage={1} totalPages={totalPage} />
	</main>
</Layout>


<style>
	main {
		width: 960px;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	ul li {
		width: calc(50% - 1rem);
	}
	ul li * {
		text-decoration: none;
		transition: 0.2s ease;
	}
	ul li:first-child {
		width: 100%;
		margin-bottom: 1rem;
		text-align: center;
	}

	ul li:first-child .img-content {
		width: 100%;
		height: 440px;
	}
	ul li:first-child .title {
		font-size: 2.369rem;
	}
	/* ul li img {
		margin-bottom: 0.5rem;
		border-radius: 12px;
	} */
	ul li .img-content {
		margin-bottom: 0.5rem;
		border-radius: 12px;
	}
	ul li a {
		display: block;
	}




	ul a:hover  .img-content  {
		box-shadow: var(--box-shadow);
	}
	@media (max-width: 720px) {
		ul {
			gap: 0.5em;
		}
		ul li {
			width: 100%;
			text-align: center;
		}
		ul li:first-child {
			margin-bottom: 0;
		}
		ul li:first-child .title {
			font-size: 1.563em;
		}
	}
</style>